<template>
  <div>
    <v-btn small fab @click.native="goTo(1)" v-if="currentPage > 1">
      <v-icon>
        skip_previous
      </v-icon>
    </v-btn>
    <v-btn small fab @click.native="goTo('back')" v-if="currentPage > 1">
      <v-icon>
        keyboard_arrow_left
      </v-icon>
    </v-btn>
    <v-btn small fab @click.native="goTo(currentPage - 1)" v-if="(currentPage - 1) > 0 ">{{currentPage - 1}}</v-btn>

    <v-btn small fab primary><span dark>{{currentPage}}</span></v-btn>

    <v-btn small fab @click.native="goTo(currentPage + 1)" v-if="(currentPage + 1) <= pages">{{currentPage + 1}}</v-btn>
    <v-btn small fab v-if="currentPage < pages" @click.native="goTo('next')">
      <v-icon>
        keyboard_arrow_right
      </v-icon>
    </v-btn>
    <v-btn small fab v-if="currentPage < pages" @click.native="goTo(pages)">
      <v-icon>
        skip_next
      </v-icon>
    </v-btn>
  </div>
</template>

<script>
export default {
  props: ['pages', 'totalObjects', 'currentPage', 'evNext', 'evBack', 'evGoTo'],
  data() {
    return {
      toNext: 0,
      toBack: 0
    }
  },
  methods: {
    goTo(direction) {
      if (direction == 'next') {
        this.$emit(this.evNext, 'next');
        return;
      }
      if(direction == 'back') {
        this.$emit(this.evBack, 'back');
        return;
      }
      this.$emit(this.evGoTo, direction);
    }
  }
}
</script>

<style scoped>
  span {
    cursor: pointer;
  }
  .btn--floating {
    height: 30px !important;
    width: 30px !important;
  }
</style>
