<template lang="html">
  <section>
    <v-layout row>
      <v-flex xs12 sm6 offset-sm3>
        <v-card>
          <v-toolbar class="cyan" dark>
            <v-toolbar-side-icon></v-toolbar-side-icon>
            <v-toolbar-title>Stock</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-dialog v-model="dialog" persistent>
              <v-btn
                class="pink"
                dark
                small
                absolute
                bottom
                right
                fab
                slot="activator"
              >
                <v-icon>add</v-icon>
              </v-btn>
              <v-card>
                <form @submit.prevent="addStock">
                  <v-card-title>
                    <span class="headline">Add Stock</span>
                  </v-card-title>
                  <v-card-text>
                    <v-select
                      v-bind:items="products"
                      v-model="newStock.product_id"
                      label="Product"
                      single-line
                      bottom
                      item-text="name"
                      item-value="id"
                      :disabled="loadingAdd"
                    ></v-select>
                    <v-text-field
                      label="Quantity"
                      type="number"
                      :rules="[rules.isInteger]"
                      required
                      v-model="newStock.quantity"
                      :disabled="loadingAdd"
                    ></v-text-field>
                    <v-text-field
                      label="Price"
                      type="number"
                      :rules="[rules.isInteger]"
                      required
                      v-model="newStock.price"
                      :disabled="loadingAdd"
                    ></v-text-field>
                    <v-text-field
                      name="input-area"
                      label="Note"
                      required
                      textarea
                      v-model="newStock.note"
                      :disabled="loadingAdd"
                    ></v-text-field>
                    <small>*indicates required field</small>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn class="blue--text darken-1" :disabled="loadingAdd" flat @click.native="dialog = false">Close</v-btn>
                    <v-btn
                      class="blue--text darken-1"
                      flat
                      type="submit"
                      :disabled="loadingAdd || !newStock.product_id || !newStock.note || !newStock.price || !newStock.quantity"
                    >Save</v-btn>
                  </v-card-actions>
                </form>
              </v-card>
            </v-dialog>
          </v-toolbar>
          <v-progress-linear v-if="loading" v-bind:indeterminate="true"></v-progress-linear>
          <v-list three-line v-if="!loading">
            <transition
              appear
              enter-active-class="animated slideInDown"
              leave-active-class="animated slideOutUp"
              name="shownotification"
            >
            <div v-if="notificationMessage && notificationMessage.length > 0 && isTime" class="alert-top" >
              <v-alert success v-bind:value="notificationType">
                {{notificationMessage}}
              </v-alert>
            </div>
            </transition>
            <v-layout row-sm column child-flex-sm class="ml-3" v-bind:class="{'opacity-5' : loading}">
              <div class="mr-2">
                <v-menu
                  lazy
                  :close-on-content-click="false"
                  v-model="menu.from"
                  transition="v-scale-transition"
                  offset-y
                  :nudge-left="40"
                >
                  <v-text-field
                    slot="activator"
                    label="From..."
                    v-model="params.date_from"
                    prepend-icon="event"
                    readonly
                  ></v-text-field>
                  <v-date-picker v-model="params.date_from" no-title scrollable actions>
                    <template scope="{ save, cancel }">
                      <v-card-row actions>
                        <v-btn flat primary @click.native="cancel()">Cancel</v-btn>
                        <v-btn flat primary @click.native="save()">Pick</v-btn>
                      </v-card-row>
                    </template>
                  </v-date-picker>
                </v-menu>
                <v-menu
                    lazy
                    :close-on-content-click="false"
                    v-model="menu.to"
                    transition="v-scale-transition"
                    offset-y
                    :nudge-left="40"
                    :disabled="!params.date_from"
                  >
                    <v-text-field
                      slot="activator"
                      label="To..."
                      v-model="params.date_to"
                      prepend-icon="event"
                      readonly
                      :disabled="!params.date_from"
                    ></v-text-field>
                    <v-date-picker v-model="params.date_to" no-title scrollable actions>
                      <template scope="{ save, cancel }">
                        <v-card-row actions>
                          <v-btn flat primary @click.native="cancel()">Cancel</v-btn>
                          <v-btn flat primary @click.native="save()">Pick</v-btn>
                        </v-card-row>
                      </template>
                    </v-date-picker>
                  </v-menu>
                </div>
                <div class="mr-5">
                  <v-select
                    v-bind:items="products"
                    v-model="params.product_id"
                    label="Product"
                    single-line
                    bottom
                    item-text="name"
                    item-value="id"
                    :disabled="loading"
                  ></v-select>
                  <v-btn round primary dark @click.native="getStock()">Apply filters</v-btn>
              </div>
            </v-layout>
            <v-list-group
              v-for="inventory in inventories"
              v-if="!loading"
              v-bind:key="inventory.id"
            >
              <v-divider></v-divider>
              <v-list-tile avatar slot="item" v-bind:key="inventory.id">
                <v-list-tile-avatar>
                </v-list-tile-avatar>
                <v-list-tile-content>
                  <v-list-tile-title>{{inventory.attributes.product.name}}</v-list-tile-title>
                  <v-list-tile-sub-title>
                    <strong>Date:</strong> {{inventory.attributes['created-at'] | date('%F')}} -
                    <strong>Quantity:</strong> {{inventory.attributes.quantity}} -
                    <strong>Total price:</strong> ${{inventory.attributes.price}}
                  </v-list-tile-sub-title>
                </v-list-tile-content>
                <v-list-tile-action>
                  <v-icon>keyboard_arrow_down</v-icon>
                </v-list-tile-action>
              </v-list-tile>
              <v-list-tile>
                <v-list-tile-content>
                  <v-list-tile-title>Update quantity</v-list-tile-title>
                </v-list-tile-content>
                <v-list-tile-action>
                  <v-dialog v-model="dialogEdit" persistent>
                    <v-icon light slot="activator">edit</v-icon>
                    <v-card>
                      <form @submit.prevent="updateStock(inventory)">
                        <v-card-title>
                          <span class="headline">Update quantity</span>
                        </v-card-title>
                        <v-card-text>
                          Product: {{inventory.attributes.product.name}} <br />
                          Note : {{inventory.attributes.note}}
                          <v-text-field
                            label="Quantity"
                            type="number"
                            :rules="[rules.isInteger]"
                            required
                            v-model="inventory.attributes.quantity"
                            :disabled="loadingEdit"
                          ></v-text-field>
                          <small>*indicates required field</small>
                        </v-card-text>
                        <v-card-actions>
                          <v-spacer></v-spacer>
                          <v-btn class="blue--text darken-1" :disabled="loadingEdit" flat @click.native="dialogEdit = false">Close</v-btn>
                          <v-btn
                            class="blue--text darken-1"
                            flat
                            type="submit"
                            :disabled="loadingEdit || !inventory.attributes.quantity"
                          >Save</v-btn>
                        </v-card-actions>
                      </form>
                    </v-card>
                  </v-dialog>
                </v-list-tile-action>
              </v-list-tile>
            </v-list-group>
            <v-layout row-sm column child-flex-sm>
              <div v-if="!loading" class="ml-5">
                <pagination
                  class="mt-2"
                  :pages="pagination['total-pages']"
                  evNext="setPageAndGetStock"
                  evBack="setPageAndGetStock"
                  evGoTo="setPageAndGetStock"
                  @setPageAndGetStock="setPageAndGetStock"
                  :total-objects="pagination['total-objects']"
                  :current-page="params.page"
                >
                </pagination>
              </div>
            </v-layout>
          </v-list>
        </v-card>
      </v-flex>
    </v-layout>
  </section>
</template>

<script>
import configAxios from '../api/configAxios';
import stockApi from '../api/stock';
import productsApi from '../api/products';
import Pagination from './Pagination.vue';
import vueFilter from 'vue-filter';
import Vue from 'vue';

Vue.use(vueFilter);

export default {
  components: {
    Pagination
  },
  created() {
    configAxios.conf();
  },
  mounted() {
    this.getStock();
    this.getProducts();
  },
  data() {
    return {
      notificationType: 'success',
      notificationMessage: '',
      isTime: true,
      miliSeconds: 3000,
      inventories: [],
      products: [],
      loading: true,
      loadingAdd: false,
      loadingEdit: false,
      params: {
        product_id: null,
        order_by: null,
        date_from: null,
        date_to: null,
        page: 1,
        per_page: 8
      },
      newStock: {
        price: null,
        quantity: null,
        product_id: null,
        note: null
      },
      pagination: {},
      dialog: false,
      dialogEdit: false,
      editInventory: {},
      rules: {
        isInteger: (value) =>  Number.isInteger(Number(value)) || "Must be an integer."
      },
      menu: {
        from: null,
        to: null
      }
    };
  },
  watch: {
    notificationMessage: function() {
      this.isTime = true;
      setTimeout(this.blankTime, this.miliSeconds);
    },
  },
  methods: {
    blankTime() {
      this.isTime = false;
    },
    setPageAndGetStock(p) {
      if (p == 'next') {
        this.params.page++;
        this.getStock();
        return;
      }
      if (p == 'back') {
        this.params.page--;
        this.getStock();
        return;
      }
      this.params.page = p;
      this.getStock();
    },
    getStock() {
      this.loading = true;
      let dfrom;
      let dto;
      if (this.params.date_from && this.params.date_to) {
        dfrom = this.params.date_from;
        dto = this.params.date_to;
        this.params.date_from += ' 00:00:00';
        this.params.date_to += ' 23:59:59';
      }
      return stockApi.getStock(this.params).then((response) => {
        if (response.status == 200) {
          if (!response.data.error) {
            this.inventories = response.data.data;
            this.pagination = response.data.meta.pagination;
            this.loading = false;
            return response;
          } else {
            this.notificationType = "error";
            this.notificationMessage = response.data.message;
          }
        } else {
          this.notificationType = "error";
          this.notificationMessage = "API Error :/";
        }
        this.params.date_to = dto;
        this.params.date_from = dfrom;
      }).catch((error) => {
        this.notificationType = "error";
        if (error.response.data.message) {
          this.notificationMessage = error.response.data.message;
        } else {
          this.notificationMessage = "API Error :/";
        }
        this.params.date_to = dto;
        this.params.date_from = dfrom;
        this.loading = false;
      });
    },
    updateStock(i) {
      this.loadingEdit = true;
      let params = {
        id: i.id,
        quantity: parseInt(i.attributes.quantity)
      };
      stockApi.updateStock(params).then((response) => {
        if (response.status == 200) {
          if (!response.data.error) {
            this.dialogEdit = false;
            this.notificationType = 'success';
            this.notificationMessage = 'Stock added.';
            this.loadingEdit = false;
          } else {
            this.notificationType = "error";
            this.notificationMessage = response.data.message;
          }
        } else {
          this.dialogEdit = false;
          this.loadingEdit = false;
          this.notificationType = "error";
          this.notificationMessage = "API Error :/";
        }
      }).catch((error) => {
        this.dialogEdit = false;
        this.loadingEdit = false;
        this.notificationType = "error";
        if (error.response.data.message) {
          this.notificationMessage = error.response.data.message;
        } else {
          this.notificationMessage = "API Error :/";
        }
      });
    },
    getProducts() {
      productsApi.getProducts().then((response) => {
        if (response.status == 200) {
          if (!response.data.error) {
            this.products = response.data.products;
          } else {
            this.notificationType = "error";
            this.notificationMessage = response.data.message;
          }
        } else {
          this.notificationType = "error";
          this.notificationMessage = "API Error :/";
        }
      }).catch((error) => {
        this.notificationType = "error";
        if (error.response.data.message) {
          this.notificationMessage = error.response.data.message;
        } else {
          this.notificationMessage = "API Error :/";
        }
      });
    },
    addStock() {
      this.loadingAdd = true;
      stockApi.addStock(this.newStock).then((response) => {
        if (response.status == 201) {
          this.getStock().then((response) => {
            this.dialog = false;
            this.newStock = {
              price: null,
              quantity: null,
              product_id: null,
              note: null
            };
            this.loadingAdd = false;
          });
        } else {
          this.notificationType = "error";
          this.notificationMessage = "API Error :/";
          this.loadingAdd = false;
        }
      }).catch((error) => {
        this.notificationType = "error";
        if (error.response.data.message) {
          this.notificationMessage = error.response.data.message;
        } else {
          this.notificationMessage = "API Error :/";
        }
        this.dialog = false;
      });
    }
  }
}
</script>

<style lang="css">
</style>
