<template>
  <v-app light>
    <v-toolbar fixed>
      <v-toolbar-title v-text="title"></v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    <main>
      <v-container fluid>
        <v-slide-y-transition mode="out-in">
          <stock></stock>
        </v-slide-y-transition>
      </v-container>
    </main>
    <v-footer :fixed="fixed">
      <span>&copy; 2017</span>
    </v-footer>
  </v-app>
</template>

<script>
  import Stock from './components/Stock.vue';
  export default {
    components: {
      Stock
    },
    data () {
      return {
        fixed: false,
        title: 'Toolbox test'
      }
    }
  }
</script>

<style lang="stylus">
  @import './stylus/main'
</style>
